.sidebar {
  padding: 32px 33px 15px;
  img: {
    box-shadow: 0 1px 32px rgba(20, 23, 26, 0.12);
    
  }
  figcaption {
    font-weight: 600;
    font-size: 48px;
    margin-top: 32px;
    margin-bottom: 0px;

    line-height: 1;

    small {
      font-size: 48px;
      font-weight: inherit;
    }
  }
}
.main-menu {
  li {
    border-bottom: 1px solid #470031;
    padding: 15px 0;
    transition: 0.3s ease-out;

    a {
      @include text-link--large;
      transition: inherit;

      i {
        margin: 0 12px 0 18px;
      }
    }
  }
}
